{
    "applications": {
        "_default": {
            "link": "demoapp"
        }, 
        "demoapp": {
            "applicationId": "DEMOAPP_KEY", 
            "masterKey": "MASTER_KEY"
        }
    }, 
    "global": {
        "parseVersion": "1.2.18"
    }
}